h1 {
  font-size: 3em;
  margin: 20px;
}

#LoginForm h2 {
  font-size: 2em;
  margin: 20px;
}

#LoginForm h3 {
  text-align: right;
}

.Container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.CourseContainer {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#Navbar {
  background-color: #dae2eb;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#Navbar img {
  height: 35px;
  width: 35px;
}

.Search {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  font-size: 1em;
  user-select: none;
  padding: 20px;
  border-radius: 25px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

#light .grid-item {
  background-color: #dae2eb;
}

#light .grid-item:hover {
  background-color: #1677ff;
}

#dark .grid-item {
  color: white;
  background-color: #353744;
}

#dark .grid-item:hover {
  background-color: #f59e0b;
}

.SignIn {
  position: fixed;
  top: 5px;
  right: 5px;
}

.Corner {
  position: fixed;
  top: 5px;
  right: 5px;
}

.CornerButtons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-right: 20px;
  padding-top: 10px;
}

#createGroup {
  margin-right: 20px;
}


#ThemeButtonContainer {
  display: flex;
  align-items: center;
}

#themeSwitch {
  margin-right: 20px;
}

.avatar {
  margin-right: 20px;
}

#LoginForm button {
  background-color: #353744;
  font-size: 1.5rem;
  cursor: pointer;
  top: 5px;
  right: 5px;
  color: white;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

#SearchLandingHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

#SearchLandingHolder input {
  width: 500px;
}


#LogoHolderLanding {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#LoginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#LoginForm input {
  border: 2px solid #353744;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: open;
  font-size: 1.5rem;
  margin-top: 10px;
  padding: 10px 20px;
  color: #353744;
  width: 300px;
  outline: none;
}

.namePage {
  text-align: center;
}

.bodyPage {
  width: 80%;
  margin: auto; 
  align-items: center;
}

#cont {
  align-items: center;
}

#course_name {
  text-align: center;
}

#course_page {
  width: 50%;
  margin: auto; 
  align-items: center;
}

#course_cont {
  align-items: center;
}

#ProfilePage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ProfileCard {
  margin-top: 40px;
  width: 90%;
}



@media screen and (min-width: 950px) {
  #ProfileCard {
    width: 900px;
  }
  #bodyPage {
    width: 800px;
  }
}

#dark {
  background-color: #1f2937;
  min-height: 100vh;
  width: 100%;
}

#dark button {
  background-color: #f59e0b;
  color: white;
}

#dark h1 {
  color: #f59e0b;
}

#dark h2 {
  color: #f59e0b;
}

#dark h3 {
  color: #f59e0b;
}

#dark .WelcomeTag {
  color: #f59e0b;
}

#dark p {
  color: white;
}

#dark a {
  color: #f59e0b;
}

/* #dark span {
  color: white;
}*/

#dark #ProfileCard {
  background-color: #353744;
}

#dark #Navbar {
  background-color: #353744;
}

#light {
  background-color: white;
  min-height: 100%;
  width: 100%;
}

#light h1 {
  color: #353744;
}

#light h2 {
  color: #353744;
}

#light h3 {
  color: #353744;
}

.linkDirection {
  display: flex;
  flex-direction: column;
}

.linkSelect {
  display: flex;
  flex-direction: row;
}

.linkSelect a {
  padding-right: 5px;
}

#Bar-Graph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#Bar-GraphCore {
  width: 350px;
}

@media screen and (min-width: 950px) {
  #Bar-GraphCore {
    width: 700px;
  }
}

.avatar-bar {
  padding-left: 10px;
  padding-right: "10px";
}

.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loginCarousel {
  width: 550px;
  height: 500px;
  margin-bottom: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
